:root{
    --color-lightorange: #e4a502;
    --color-darkorange:#fa5f2f;
    --color-purple: #bf81cc;

 
}
body{
    background-color: #defafe;
}
#container{
    background-color: var(--color-lightorange);
    margin:auto;
    margin-top: 70px;
    width: 1400px;
    height: 500px;
    border-radius: 10px;
    padding-top:130px; 
 }
#title{
 color: #f7fbfd;
 font-size: 30px;
 position: relative;
 left: 100px;
 bottom: 970px;
 z-index: 100%;
 text-transform: lowercase;
 font-family: 'Poppins', sans-serif;
 width: 800px;

}
.right{
    position: relative;
    bottom: 1040px;
    left: 700px;
    width: 800px;
    color: #f7fbfd;
    font-size: 30px;
    font-family: 'Poppins', sans-serif; 
}
.hide{
    display: none;
}
.paragraph{
   width: 250px;
   position: relative;
   bottom: 1160px;
   left:300px;
   color: #fcf5cd;

}

button{
    background-color: transparent;
    border-color: #fcda6c;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
    color: #ffeb8c;
    width: 80px;
    height: 80px;
}
    
.btn{
    position: relative;
    bottom: 805px;
    left: 1150px;
    border-right-style: none;
    border-right-color: none;
}

.btn1{
    position: relative;
    bottom: 810px ;
    left: 200px;
    border-left-style: none;
    border-right-color: none;
}

 #top{
     display: flex;
     flex-direction: row;
     position: relative;
     bottom: 120px;
     width: 400px;
     height: 50px;
 }
 .line{
     transform: rotate(-90deg);
     position: relative;
     bottom: 20px;
     left: 570px;
     width: .5px;
     height: 50px;
     border-color: #f8e076;
        
 }
 .line1{
    transform: rotate(-90deg);
    position: relative;
    left: 567px;
    bottom:15px;
    width: .5px;
    height: 50px;
    border-color: #f8e076;     
}
 #style{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: #ffeb8c;
 }
 #find{
    position: relative;
    bottom: 50px;
    left: 600px;
    width: 200px;
 }
 #account{
    position: relative;
    bottom: 50px;
    left: 950px;
 }
 #cart{
    position: relative;
    bottom: 50px;
    left: 980px;
 }
 #core{
    
    width: 100px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 20px;
 }


#next{
    width: 200px;
    position: relative;
    left: 6px;
    top: 10px;
    
 }
 #prev{
    width: 200px;
    position: relative;
    right: 150px;
    top: 10px;
    text-orientation:unset;
  
    
 }
 #all{
     position: relative;
     bottom: 50px;
     right: 60px;
 }
 #circle{
     background-color: transparent;
     width: 120px;
     height: 120px;
     border-color: #fcda6c;
     border-style: solid;
     border-width: 2px;
     border-radius: 100px;
     position: relative;
     bottom: 660px;
     margin-left: 680px;
     
 }
 #triangle {
    width: 0; 
    height: 0; 
    border-left: 12.5px solid #fffeda;
    border-top: 6.25px solid transparent;
    border-bottom: 6.25px solid transparent; 
    position: relative;
    left: 30px;
    bottom: 5px;
 }
 #triangle1 {
     transform: rotate(-180deg);
    width: 0; 
    height: 0; 
    border-left: 12.5px solid #fffeda;
    border-top: 6.25px solid transparent;
    border-bottom: 6.25px solid transparent; 
    position: relative;
    left: 30px;
    bottom: 5px;
 }
 p{
  margin-top: 60px;
  margin-left: 30px;
  color: #ffeb8c;
  font-size: 12px;
 }
 #first{
        
        transform: rotate(5deg);
        width: 400px;
        height: 300px;
        margin: auto;
        
 }
 
 #second{
    
    transform: rotate(5 deg);
    position: relative;
    bottom: 300px;
    width: 400px;
    height: 300px;
    margin: auto;
 
}

#third{
    
    transform: rotate(-8deg);
    position: relative;
    bottom: 600px;
    width: 400px;
    height: 300px;
    margin: auto;
    
    
}  


 .thirdmove{
    
    transform: rotate(-8deg);
    position: relative;
    bottom: 600px;
    width: 400px;
    height: 300px;
    margin: auto;
    animation: rolling 3s;
    
}
    
@keyframes rolling {
    0% {
      transform: translatex(0px) rotate(-90deg);    
      
    }
    
    100% {
      transform: translatex(-1000px) rotate(-180deg);
      
     
    }
    
  }


img{
    
    width: 500px;
    height: 350px;
}

@media screen and (max-width: 576px){

    #container{
        background-color: var(--color-lightorange);
        margin:auto;
        width: 300px;
        height:500px;
        border-radius: 10px;
        
     }

     img{

        margin-top: 100px;
        margin-left:  105px;;
        width: 210px;
        height: 230px;
    }
    #title{
        color: #f7fbfd;
        font-size: 10px;
        position: relative;
        left: 70px;
        bottom: 1160px;
        z-index: 100%;
        text-transform: lowercase;
        font-family: 'Poppins', sans-serif;
        width: 300px;
               }
    .right{
        position: relative;
        bottom: 1180px;
        left: 200px;
        width: 200px;
        color: #f7fbfd;
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
    }
       
    
    button{
        background-color: transparent;
        border-color: #fcda6c;
        border-style: solid;
        border-width: 2px;
        border-radius: 100px;
        color: #ffeb8c;
        width: 60px;
        height: 60px;
    }
    .btn{
        position: relative;
        left: 240px;
        bottom: 501px;
        border-right-style: none;
        border-right-color: none;
    }
    
    .btn1{
        position: relative;
        bottom: 500px ;
        left: 55px;
        border-left-style: none;
        border-right-color: none;
    }
    #circle{
        background-color: transparent;
        width: 100px;
        height: 100px;
        border-color: #fcda6c;
        border-style: solid;
        border-width: 2px;
        border-radius: 100px;
        position: relative;
        bottom: 990px;
        margin-left: 80px;
        
    }
    #find{
        display: none;
     }
     #account{
        position: relative;
        bottom: 55px;
        left: 60px;
     }
     #cart{
        position: relative;
        bottom: 55px;
        left: 60px;
     }
     .line{
        transform: rotate(-90deg);
        position: relative;
        bottom: 15px;
        left: 50px;
        width: .5px;
        height: 30px;
        border-color: #f8e076;
           
    }
    .line1{
       transform: rotate(-90deg);
       position: relative;
       left: 48px;
       bottom:10px;
       width: .5px;
       height: 30px;
       border-color: #f8e076;     
   }
   .paragraph{
    display: none;
    }
    #next{
        display: none;
        
     }
     #prev{
        display:none;
      
        
     }
    #top{
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 120px;
        width: 200px;
        height: 50px;
    }
    p{
        position: relative;
        bottom: 20px;
        right: 10px;
    }
    #triangle {
        width: 0; 
        height: 0; 
        border-left: 12.5px solid #fffeda;
        border-top: 6.25px solid transparent;
        border-bottom: 6.25px solid transparent; 
        position: relative;
        left: 20px;
        top: 2px;
     }
     #triangle1 {
        transform: rotate(-180deg);
        width: 0; 
        height: 0; 
        border-left: 12.5px solid #fffeda;
        border-top: 6.25px solid transparent;
        border-bottom: 6.25px solid transparent; 
        position: relative;
        left: 15px;
        top: 2px;
     }
}



    